# git ignore file
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
ipch
*.opensdf
*.sdf
!NiVirtualCam-Win-v*.exe

# OpenNI and NiTE Redist/ bits
# they have to be in the same working dir as the project
# but we don't want them in version control
PS1080.ini
OpenNI.ini
NiTE.ini
NiTE2/
OpenNI2/
